@font-face {
  font-family: B yekan src: url('fonts/byekan.ttf') format('truetype');
}

body {
  font-family: B yekan;
  background-color: #edece9;
}

#header {
  padding: 10px;
  border-radius: 45px;

}

#box-score {
  
}

aside {
  background-color: #A4DEF7;
  border-radius: 5px;
  direction: rtl;
  margin-left: auto;
  margin-top: 0px;
  padding: 15px;
  box-shadow: 2px 2px 5px #aaaaaa;
  min-width: 275px !important;
  max-width: 280px;}

#video {
  background-color: blue;
}


#description_div {
  margin-right: 0px;
  margin-left: 10px;
  margin-top: 20px;
  margin: 10px 10em;
}

#title {
  padding-bottom:15px;
}


#main-container {
  background-color: #edece9;
  border-radius: 5px;
  direction: rtl;
  margin: auto;
  min-height: 700px;
}

#idform {
  text-align: center;
}

p {
  font-family: B yekan;
  direction: rtl;
  font-size: 12px;
  text-align: justify;
}

h1 {
  font-size: 25px;
  text-align: center;
}

.hm-form {
  max-width: 280px;
  font-size: 12px;
}

.custom-bt1 {
  width: 150px !important;
  border-style: none;
  font-size: 1em;
  margin-bottom: 0px;
  margin-top: 10px;
}



.navbar-custom {
  background-color: #6CCDF7 !important;
  border-radius: 5px !important;
}

nav {
  direction: rtl;
}

#login-buttom {
  margin-top: 3px;
}

.hm-CR {
  font-size: 12px;
}

footer {
  background-color: #6CCDF7 !important;
      left: 0;
      bottom: 0;
      width: 100%;
}
