@font-face {
  font-family: B yekan src: url('fonts/byekan.ttf') format('truetype');
}

body {
  font-family: B yekan;
  background-color: #edece9;
}

#header {
  padding: 10px;
  border-radius: 45px;
}

#description_div {
  margin-right: 0px;
  margin-left: 10px;
  margin-top: 10px;
}

aside {
  background-color: #A4DEF7;
  border-radius: 5px;
  direction: rtl;
  margin-left: auto;
  margin-top: 0px;
  padding: 5px;
  box-shadow: 2px 2px 5px #aaaaaa;
  min-width: 240px !important;
  max-width: 240px;
  max-height: 17em;
}

#main-container {
  background-color: #edece9;
  border-radius: 5px;
  direction: rtl;
  text-align: right;
  margin: auto;
  min-height: 700px;
}

p {
  font-family: B yekan;
  direction: rtl;
  font-size: 12px;
  text-align: justify;
}

h1 {
  font-size: 25px;
  text-align: center;
}

.hm-form {
  max-width: 190px;
}

.custom-bt1 {
  width: 150px !important;
  border-style: none;
  font-size: 0.8em;
  margin-bottom: 0px;
  margin-top: 10px;
}

.custom-bt2 {
  width: 150px !important;
  border-style: none;
  font-size: 0.8em;
  margin-bottom: 0px;
  margin-top: 0px;
}

.navbar-custom {
  background-color: #6CCDF7 !important;
  border-radius: 5px !important;
}

#aside {
  display: inline-block;
  align-items: center;
  padding-top: 15px;
}

#sing-up-in {
  margin-left: 0px;
  display: inline-block;
  align-items: stretch;
}

#signup {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-bottom: 0px;
}

.hm-btn {}

nav {
  direction: rtl;
}

#login-buttom {
  margin-top: 3px;
}

.hm-check {
  direction: rtl;
  padding-top: 0px;
  padding-right: 20px;
}

.hm-checkbox {}
